{% extends 'base.html.twig' %}

{% block body %}
    <section class="bg-white font-family-karla h-screen">

        <div class="w-full flex flex-wrap">

            <!-- Login Section -->
            <div class="w-full md:w-1/2 flex flex-col">

                <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                    {{ include('_logo.html.twig') }}
                </div>

                <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                    <p class="text-center text-3xl">Bienvenue chez vous</p>
                    <form method="post" class="flex flex-col pt-3 md:pt-8">
                        {% if error %}
                            {{ include('security/_error.html.twig') }}
                        {% endif %}
                        <div class="flex flex-col pt-4">
                            <label for="email" class="text-lg">Email</label>
                            <input type="email" name="email" id="email" placeholder="your@email.com" value="{{ last_username }}"
                                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                                   required>
                        </div>

                        <div class="flex flex-col pt-4">
                            <label for="password" class="text-lg">Mot de passe</label>
                            <input type="password" name="password" id="password" autocomplete="password" placeholder="Password"
                                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                                   required>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <input type="submit" value="Connexion"
                               class="gradient text-white font-bold text-lg hover:bg-gray-700 cursor-pointer p-2 mt-8">
                    </form>
                    <div class="text-center pt-12 pb-12">
                        <p>Pas encore de compte ? <a href="{{ path('register') }}" class="underline font-semibold">En ouvrir un
                                ici</a></p>
                    </div>
                </div>

            </div>

            <!-- Image Section -->
            <div class="w-1/2 shadow-2xl">
                <img class="object-cover w-full h-screen hidden md:block" src="{{ asset('build/building.jpeg') }}">
            </div>
        </div>

    </section>
{% endblock %}
