{% extends 'base.html.twig' %}

{% block title %}Ajouter un bénéficiaire - Bank'in{% endblock %}

{% block body %}
    <div
            class="flex h-screen bg-gray-50 dark:bg-gray-900"
            :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
        {{ include('client_dashboard/_sidebard.html.twig') }}
        <div
                x-show="isSideMenuOpen"
                x-transition:enter="transition ease-in-out duration-150"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in-out duration-150"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
        ></div>
        {{ include('client_dashboard/_mobile_sidebard.html.twig') }}
        <div class="flex flex-col flex-1 w-full">
            {{ include('client_dashboard/_header.html.twig') }}
            <main class="h-full overflow-y-auto">
                <div class="container px-6 mx-auto grid">
                    <h2
                            class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
                    >
                        Faire un virement
                    </h2>


                    <p class="p-1 text-gray-700">Cet espace vous permet de faire un virement de votre compte à un de vos
                        bénéficiaires.</p>
                    <p class="p-1 text-gray-700">Sous réserve de fonds nécessaires.</p>

                    {% set formErrors = form.vars.errors.form.getErrors(true) %}
                    {% if formErrors|length %}
                        {{ include('register/_error.html.twig') }}
                    {% endif %}

                    {{ form_start(form, {'action': path('client_create_transaction')}) }}
                    <div class="flex flex-col pt-3 md:pt-8">
                        <div class="flex flex-col pt-4">
                            <label for="transaction_description" class="text-lg">Bénéficiaire</label>
                            {{ form_widget(form.recipient, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline',
                            }}) }}
                        </div>
                        <div class="flex flex-col pt-4">
                            <label for="transaction_description" class="text-lg">Description</label>
                            <em class="text-gray-500 mb-2">(optionnel)</em>
                            {{ form_widget(form.description, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline',
                                'placeholder': 'Participation cadeau'}}) }}
                        </div>
                        <div class="flex flex-col pt-4">
                            <label for="transaction_amount" class="text-lg">Montant</label>
                            <em class="text-gray-500 mb-2">(en €)</em>
                            {{ form_widget(form.amount, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline',
                                'placeholder': '15.5'}}) }}
                        </div>

                        {{ form_widget(form.save, {'attr': {'class': 'gradient text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 cursor-pointer'}}) }}
                    </div>

                    {{ form_end(form) }}

                </div>
            </main>
        </div>
    </div>
{% endblock %}
