{% extends 'base.html.twig' %}

{% block title %}Votre espace - Bank'in{% endblock %}

{% block body %}
    <div
            class="flex h-screen bg-gray-50 dark:bg-gray-900"
            :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
        {{ include('client_dashboard/_sidebard.html.twig') }}
        <div
                x-show="isSideMenuOpen"
                x-transition:enter="transition ease-in-out duration-150"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in-out duration-150"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
        ></div>
        {{ include('client_dashboard/_mobile_sidebard.html.twig') }}
        <div class="flex flex-col flex-1 w-full">
            {{ include('client_dashboard/_header.html.twig') }}
            <main class="h-full overflow-y-auto">
                <div class="container px-6 mx-auto grid">
                    <h2
                            class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
                    >
                        Tableau de bord
                    </h2>

                    {% if message is not empty %}
                        {{ include('client_dashboard/_message.html.twig') }}
                    {% endif %}


                    <!-- Cards -->

                    {% if isPending == false %}
                        {{ include('client_dashboard/_cards.html.twig') }}

                        <!-- New Table -->
                        <div class="w-full overflow-hidden rounded-lg shadow-xs">
                            <div class="w-full overflow-x-auto">
                                <table class="w-full whitespace-no-wrap">
                                    <thead>
                                    <tr
                                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                                    >
                                        <th class="px-4 py-3">Date</th>
                                        <th class="px-4 py-3">Description</th>
                                        <th class="px-4 py-3">Montant</th>
                                    </tr>
                                    </thead>
                                    <tbody
                                            class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                                    >

                                    {% for transaction in client.account.transactions|reverse %}

                                        <tr class="text-gray-700 dark:text-gray-400">
                                            <td class="px-4 py-3">
                                                <div class="flex items-center text-sm">
                                                    <!-- Avatar with inset shadow -->
                                                    <div>
                                                        <p class="font-semibold">{{ transaction.createdAt|date('d/m/y à H:i', 'Europe/Paris') }}</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="px-4 py-3 text-sm">
                                                {% if transaction.description is empty %}
                                                Virement {{ transaction.type == 'credit' ? 'reçu' : 'émis' }}
                                                {% else %}
                                                    {{ transaction.description }}
                                                {% endif %}
                                            </td>
                                            <td class="px-4 py-3 text-xs">
                        <span
                                class="px-2 py-1 font-semibold leading-tight {{ transaction.type == 'credit' ? 'text-green-700 bg-green-100' : 'text-red-700 bg-red-100' }} rounded-full dark:bg-green-700 dark:text-green-100"
                        >
                            {{ transaction.type == 'credit' ? '+' : '-' }} {{ transaction.amount }} €
                        </span>
                                            </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </main>
        </div>
    </div>
{% endblock %}
