{% extends 'base.html.twig' %}

{% block title %}Bank'in - Administration{% endblock %}

{% block body %}
    <div
            class="flex h-screen bg-gray-50 dark:bg-gray-900"
            :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
        {{ include('banker_dashboard/_sidebard.html.twig') }}
        <div
                x-show="isSideMenuOpen"
                x-transition:enter="transition ease-in-out duration-150"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in-out duration-150"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
        ></div>
        {{ include('banker_dashboard/_mobile_sidebard.html.twig') }}
        <div class="flex flex-col flex-1 w-full">
            {{ include('banker_dashboard/_header.html.twig') }}
            <main class="h-full overflow-y-auto">
                <div class="container px-6 mx-auto grid">
                    <h2
                            class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
                    >
                        Tableau de bord
                    </h2>
                    <!-- Cards -->
                    {{ include('banker_dashboard/_cards.html.twig') }}

                    <!-- New Table -->
                    <div class="w-full overflow-hidden rounded-lg shadow-xs">
                        <div class="w-full overflow-x-auto">
                            <p class="text-gray-700 font-semibold ">Vos clients ayant un compte actif :</p>
                            <em class="text-gray-500 text-sm">(ne liste pas les comptes en attente de validation ou de suppression)</em>
                            <table class="w-full whitespace-no-wrap mt-2">
                                <thead>
                                <tr
                                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                                >
                                    <th class="px-4 py-3">Client</th>
                                    <th class="px-4 py-3">Numéro de compte bancaire</th>
                                    <th class="px-4 py-3">Solde du compte bancaire</th>
                                </tr>
                                </thead>
                                <tbody
                                        class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                                >


                                {% for key, client in activatedClients %}

                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="py-3">
                                            <div class="flex items-center text-sm">
                                                <!-- Avatar with inset shadow -->
                                                <div
                                                        class="relative hidden w-8 h-8 rounded-full md:block"
                                                >
                                                </div>
                                                <div>
                                                    <p class="font-semibold">{{ client.name }} {{ client.firstname }}</p>
                                                    <p class="text-xs text-gray-600 dark:text-gray-400">
                                                        {{ client.email }}
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-4 py-3 text-sm">
                                            {{ client.account.identifier }}
                                        </td>
                                        <td class="px-4 py-3 text-sm">
                                            {{ client.account.balance }} €
                                        </td>
                                    </tr>
                                {% endfor %}

                                <banker-users></banker-users>

                                </tbody>
                            </table>
                            {% if activatedClients is empty %}
                                <p class="mt-2">Vous n'avez pas encore de client ayant un compte actif.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
